$img__header: url("./img/aca-logo.png");
$img__header-small: url("./img/logo-sun_smallscreens.png");
$img__background: url("./img/sun.png");

$img__section-1: url("./img/graphic1.png");
$img__section-2: url("./img/search.png");
$img__section-3: url("./img/code.png");
