@media screen and (min-width: 200px) {
    #location{
        height:18rem;
        width:100%;
        margin:1rem auto;
    }
}

@media screen and (min-width:480px){
    #location {
        height:20rem;
    }
}

@media screen and (min-width: 640px) {
    #location{
        height:24rem;
    }
}

@media screen and (min-width: 980px) { 
    #location{
        height:28rem;
    }
}